interactions:
- request:
    body: '{"sha256": "4f2f9540e35b42bd5ee5d141c722a0d3c5b31dade85be29f9ac22fa9975c5d27"}'
    headers:
      content-type:
      - application/json
      x-fern-language:
      - Python
      x-fern-sdk-name:
      - cohere
      x-fern-sdk-version:
      - 7.2.0
    method: POST
    uri: https://ai-dcw-eus2.cognitiveservices.azure.com/providers/cohere/v2/rerank
  response:
    body:
      string: '{"id":"bdc95f04-d530-49a2-ab62-5db1ef1b4941","results":[{"index":1,"relevance_score":0.917184},{"index":2,"relevance_score":0.19534837}],"meta":{"api_version":{"version":"2"},"billed_units":{"search_units":1}}}'
    headers:
      azureai-fe-is-streaming:
      - 'False'
      azureai-fe-offer-type:
      - paygo
      azureai-processed-tier:
      - default
      azureai-requested-tier:
      - default
      azureml-destination-deployment:
      - d20260923073811-10c42494
      azureml-destination-endpoint:
      - cohpv3-usc-h1-oai-oe-fqub23
      azureml-destination-model-group:
      - rerank-v4-fast-cus-v2
      azureml-destination-region:
      - centralus
      azureml-model-deployment:
      - d20260923073811-10c42494
      azureml-model-group:
      - rerank-v4-fast-cus-v2
      azureml-model-session:
      - d20260923073811-10c42494
      azureml-ms-model-error-comprehensive:
      - --
      azureml-served-by-cluster:
      - hyena-eastus2-01
      content-type:
      - application/json
      prompt_token_len:
      - '1'
      sampling_token_len:
      - '0'
      x-accel-expires:
      - '0'
      x-ms-inference-retry-history:
      - '{"v":1,"entries":[{"service_id":"mir.frontdoor","layer":"regional","role":"direct","retries":0}]}'
      x-ms-is-spilled-over:
      - 'false'
      x-ms-region:
      - East US 2
      x-ratelimit-abusepenalty-active:
      - 'False'
      x-ratelimit-key:
      - Cohere-rerank-v4.0-fast
      x-ratelimit-limit-requests:
      - '20'
      x-ratelimit-limit-tokens:
      - '20000'
      x-ratelimit-remaining-requests:
      - '19'
      x-ratelimit-remaining-tokens:
      - '19994'
      x-ratelimit-renewalperiod-requests:
      - '60'
      x-ratelimit-renewalperiod-tokens:
      - '60'
      x-ratelimit-reset-requests:
      - '3'
      x-ratelimit-reset-tokens:
      - '0'
    status:
      code: 200
      message: OK
version: 1
